ul.menu-right {
	padding:11px 0px 10px 0px;
}
ul.menu-right li {
	line-height:100%;
}
ul.menu-right li.end {
	line-height:100%;
}
ul.menu-right .submenu {
	top:15px;
	padding-top:10px;
}
.box-person-get ul li {
	margin-right:7px;
}
.block-sp-items .block-slider ul li .wrap-img {
	display:block;
	text-align:center;
	margin-bottom:10px;
}
.block-sp-items .block-slider ul li .wrap-img img {
	display:block;
	margin:20px auto 0px;
	text-align:center;
}
/*css fix 1024px*/
body {
 border
}
.icon-common {
	background: url(images/1024px/icon-common.png) no-repeat;
}
#wrapper-container {
	width: 1015px;
}
.header ul li.search-header {
	width: 530px;
	margin-right: 25px;
}
.header ul li.search-header input[type=text] {
	width: 490px;
}
.header ul li.your-cart a span {
	font-size:15px;
}
.header ul li.your-cart a span.txt-title {
	font-size: 16px;
}
.menu-left {
	width: 175px;
}
.menu-left ul li .submenu {
	left: 173px;
}
.box-right-top {
	width: 835px;
}
ul.menu-right li {
	margin-left:18px;
}
ul.menu-right li a {
	font-size:13px;
}
ul.menu-right li.end {
	font-size:14px;
}
.box-right-top .wrap-support div.left {
	width: 563px;
}
.box-right-top .wrap-support div.left img {
	max-width:100%;
}
.box-right-top .wrap-support div.right a.hd-mh {
	background-position: 0px -250px;
}
#status-of-per, #social-plugins {
	display:none;
}
.box-right-top .wrap-support div.right a {
	width: 268px;
	height:84px;
	margin-bottom: 4px;
}
.menu-left h2 {
	font-size: 15px;
}
.menu-left ul li a {
	font-size: 13px;
	padding: 5px 14px;
}
.box-right-top .wrap-support div.right {
	width:268px;
}
.box-right-top .wrap-support div.right a.kt-mh {
	background-position: 0px -336px;
}
.box-right-top .wrap-support div.right a span.txt-hd {
	font-size: 16px;
	padding-left: 90px;
}
.box-right-top .wrap-support div.right a span {
	font-size: 12px;
	padding-left: 73px;
	padding-top: 21px;
}
.box-right-top .wrap-support div.right a.bv-mh {
	background-position: 0px -421px;
	margin-bottom: 0px;
}
.box-right-top .wrap-support div.right a.bv-mh span {
	padding-top: 16px;
	padding-left: 77px;
}
.box-person-get ul li a {
	width: 334px;
	height: 80px;
}
.box-person-get ul li a.pp-tt {
	background-position: 0px -84px;
}
.box-person-get ul li {
	margin-right: 6px;
}
.box-person-get ul li a.ct-gh {
	background-position: 0px 0px;
}
.box-person-get ul li a.ph-kh {
	background-position: 0px -166px;
}
.box-person-get ul li a h3 {
	padding-left: 108px;
	font-size: 20px;
}
.box-person-get ul li a span {
	font-size: 12px;
	padding-left: 107px;
}
.block-sp .title-top h1 {
	padding: 9px 24px;
	font-size: 17px;
}
.menu-left ul {
	padding-bottom:9px;
}
.block-sp-items .ads-left {
	width:203px;
}
.block-sp-items .ads-left * {
	width:100%;
}
.block-sp-items .block-slider ul li .wrap-img img {
	max-width: 90px;/* border: 1px solid red; */
}
.block-sp-items .block-slider {
	width: 800px;/* border: 1px solid red; */
}
.block-sp-items .block-slider ul li {
	width: 203px;
}
.header ul li.logo a {
	width: 166px;
	height: 39px;
	background-position: -333px -62px;
}
.right-header p.right a {
	width: 25px;
	height: 18px;
}
.right-header p.right a.flag-vn {
	background-position: -337px -136px;
}
.right-header p.right a.flag-en {
	background-position: -364px -136px;
}
.header ul li.your-cart a i {
	width: 42px;
	height: 42px;
	background-position: -450px 0px;
}
ul.menu-right {
	padding:6px 0px 7px;
}
ul.menu-right li a i {
	width: 7px;
	height: 4px;
	background-position: -454px -48px;
}
ul.menu-right li:hover a i, ul.menu-right li:hover a, ul.menu-right li:hover a.active, ul.menu-right li a.active, ul.menu-right li a.active i, ul.menu-right li a:hover, ul.menu-right li a:hover i {
	background-position: -465px -48px;
}
.btn-slide a {
	width: 27px;
	height: 27px;
}
.btn-slide a.btn-prev {
	background-position: -395px -104px;
}
.btn-slide a.btn-next {
	background-position: -336px -105px;
}
.btn-slide a.btn-prev:hover {
	background-position: -426px -104px;
}
.btn-slide a.btn-next:hover {
	background-position: -366px -105px;
}
.block-sp-items .block-slider ul li .wrap-img {
	height: 190px;
}
.btn-common {
	font-size: 13px !important;
	padding: 4px 8px 5px 7px !important;
}
.btn-1 i {
	width: 20px;
	height: 20px;
	background-position: -374px -30px;
}
.icon-heart {
	width: 31px;
	height: 31px;
	background-position: -376px -183px;
}
.icon-social {
	width: 31px;
	height: 31px;
	background-position: -455px -183px;
}
.block-sp-items .block-slider ul li .items .b-sp .icon-heart:hover {
	background-position: -336px -184px;
}
.block-sp-items .block-slider ul li .items .b-sp .icon-social:hover {
	background-position: -414px -183px;
}
.ads {
	width:100%;
}
.ads * {
	width:100%;
}
.block-show-sp-nb .left-spnb {
	width: 181px;
	height: 489px;
}
.block-show-sp-nb .left-spnb ul li {
	padding:0px 10px;
}
.block-show-sp-nb .left-spnb ul li a {
	font-size:13px;
}
.block-show-sp-nb .left-spnb ul li ul li a {
	font-size:12px;
}
.block-show-sp-nb .right-spnb {
	height:489px;
	width: 834px;
}
.block-show-sp-nb {
	height:489px;
}
.block-video .block-sp-items .gt-sp-video-left span {
	width: 45px;
	height: 44px;
	background-position: -392px -136px;
}
.block-video .block-sp-items .block-slider ul li .items a.wrap-img span {
	width: 28px;
	height: 26px;
	background-position: -420px -30px;
}
.block-video .block-sp-items .block-slider ul li .items a.wrap-img img {
	max-width:100%;
}
.block-video .block-sp-items .block-slider ul li .items a {
	font-size:13px;
}
.block-video .block-sp-items .block-slider ul li .items {
	width:171px;
	height:113px;
	margin-right: 10px;
}
.block-video .block-sp-items .gt-sp-video-left {
	width:101px;
}
.block-video .block-sp-items .gt-sp-video-left h1 {
	font-size: 18px;
}
.block-video .block-sp-items .wrap-slider {
	width: 900px;
}
.footer h1 {
	font-size: 17px;
}
.footer p {
	font-size:12px;
}
.footer .block-info {
	width: 478px;
	padding-right: 10px;
}
.footer .block-lienhe ul a {
	font-size:12px;
}
.footer .block-lienhe ul a i.icon-face {
	background-position: -337px 0px;
	margin-right:5px;
}
.footer .block-lienhe ul a i {
	width: 27px;
	height: 28px;
}
.footer .block-lienhe ul a i.icon-twi {
	background-position: -366px 0px;
}
.footer .block-lienhe ul a i.icon-you {
	background-position: -393px 0px;
}
.footer .block-lienhe ul a i.icon-go {
	background-position: -421px 0px;
}
.footer .block-lienhe {
	width: 200px;
}
.footer .block-lienhe ul {
	width: 87px;
	margin-right: 10px;
}
.footer .block-kh ul li a {
	font-size: 12px;
}
.footer .block-kh ul {
	width: 159px;
	margin-right: 10px;
}
.footer .block-kh ul.right {
	width: 130px;
}
.footer .block-kh {
	width: 307px;
}
.footer .block-ht-tt ul li, .footer .block-gt-dn ul li {
	width:118px;
	height:57px;
}
.footer .block-ht-tt ul li, .footer .block-gt-dn ul li img {
	max-width:100%;
}
.footer .block-ht-tt, .footer .block-gt-dn {
	width: 424px;
}
.footer .block-ht-tt {
	width: 412px;
}
.footer .block-verifile-web {
	width: 95px;
}
.footer .copy-right {
	font-size: 12px;
}
#scroll-search {
	width: 1013px;
}
#scroll-search p {
	font-size:15px;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-top: 4px;
}
.header #scroll-search ul li.search-header {
	margin-top:0p;
}
.chat-box {
	width:300px;
	height: 547px;
}
.chat-box .title-chat p {
	font-size:15px;
}
.chat-box .title-chat {
	background: #de4e31;
	padding: 2px 10px;
}
.chat-box .title-chat p i {
	width: 35px;
	height: 28px;
	background-position: -336px -30px;
}
.chat-box .title-chat .btn-slide-down {
	width: 24px;
	height: 24px;
	background-position: -456px -105px;
}
.frm-input input {
	font-size:12px;
	padding: 8px 5px;
	width: 247px;
}
.chat-box .block-chat .content-chat ul li span i {
	width: 9px;
	height: 9px;
	background-position: -480px -50px;
}
.chat-box.active_hide .title-chat:hover p i {
	background-position: -404px -220px;
}
.chat-box.active_hide .title-chat p i {
	background-position: -335px -222px;
}
.chat-box.active_hide .title-chat .btn-slide-down {
	background-position: -375px -222px;
}
.right-col, .box-right-top {
	width: 835px;
}
.left-col, .menu-left {
	width: 175px;
}
.list-support-cust li a {
	width:100%;
	display:block;
}
.list-support-cust li a img {
	max-width:100%;
}
.hd-kh .col-left-subpage,  .col-left-subpage {
	width: 180px;
}
.list-about ul li a {
	font-size:13px;
}
.list-about ul li {
	margin-bottom:10px;
}
.col-right-subpage {
	width: 655px;
}
.col-right-subpage h1 {
	font-size:18px;
}
.col-right-subpage p {
	font-size:13px;
}
.footer .block-lienhe ul.right {
	width: 90px;
}
.block-register {
	margin-left:50px;
}
.block-frm ul li select, .block-frm ul li input,  .block-frm ul li label {
	font-size:13px;
}
.block-frm ul li label {
	width: 120px;
}
.block-frm ul li input {
	padding: 6px 5px 4px;
}
.wrap-right-frm p,  .block-frm ul li .error {
	font-size:12px;
}
.icon-search {
	width: 20px;
	height: 20px;
	background-position: -398px -30px;
}
.icon-xoa-2, .icon-xoa {
	width: 14px;
	height: 18px;
	background-position: -440px -136px;
}
.process-cart ul li i {
	width: 65px;
	height: 66px;
}
.process-cart ul li i.icon-cart-pro {
	background-position:-351px -259px;
}
.process-cart ul li.active i.icon-cart-pro {
	background-position:-281px -259px;
}
.process-cart ul li i.icon-tt-pro {
	background-position:-277px -329px;
}
.process-cart ul li.active i.icon-tt-pro {
	background-position:-424px -259px;
}
.process-cart ul li i.icon-ht-pro {
	background-position:-348px -329px;
}
.process-cart ul li.active i.icon-ht-pro {
	background-position:-420px -329px;
}
.process-cart ul li span.line-pro {
	top:33px;
}
.icon-help {
	width: 18px;
	height: 18px;
	background-position: -460px -136px;
}
.block-get-sp form {
	margin-left:100px;
}
.btn-big {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.block-frm ul li.btn-group {
	margin-top:0px;
}
.alert-box i {
	width: 29px;
	height: 29px;
	background-position: -446px -221px;
}
.info-cus-ht {
	width: 270px;
}
.cart-sp .block-cart h1,  .cart-sp .block-cart .info-cus-ht h1 {
	font-size:20px;
}
.info-cus-ht p {
	font-size:14px;
}
.tt-tt p {
	font-size:15px;
}
.tt-tt p span {
	width:250px;
}
.tt-tt {
	width:460px;
}
.nh-tt {
	width:480px;
}
.nh-tt ul li img {
	max-width:70px;
}
.nh-tt ul li div.right {
	width:370px;
}
.hd-kh .col-right-subpage {
	width:470px;
}
.block-lienhe div.wrap-map img,  .block-lienhe div.wrap-map {
	width:100%;
}
.block-lienhe .top-lh,  .block-lienhe a {
	font-size: 14px;
}
.block-lienhe ul li.field-noidung textarea {
	width:320px;
}
.block-hot .wrap-img {
	width:400px;
	max-height:100%;
}
.block-hot .wrap-tin-hot {
	width: 410px;
}
.list-tin-tuc li {
	width:262px;
}
ul.menu-right .submenu {
	left:-20px;
}
.block-today .wrap-slider-home {
	width:812px;
}
.bx-controls .bx-prev {
	background-position:-439px -159px;
}
.bx-controls .bx-next {
	background-position:-462px -159px;
}
.dm-sp-1 .box-txt-dm {
	width:550px;
}
/*end css fix 1024px*/
.footer .block-ht-tt ul li {
	margin: 0px 5px 18px 0px;
}
.footer .block-ht-tt ul {
	float:none;
}
ul.menu-right .submenu {
	left:-20px;
}
